body {
    background-image: url('bg-img.jpeg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100%;
}

main {
    padding-top: 150px;
}

section {
    display: none;
}

section.active {
    display: block;
}

.list-group-item {
    border: none;
}
